body {
    font-family: "PingHei","PingFang SC","Helvetica Neue","Helvetica","STHeitiSC-Light","Microsoft YaHei","Arial",sans-serif
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    word-break: break-all;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    color: black;
}
.disabled {
    display: none;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.Qiu-navbar{
    background: #ffd52b;
    height: 82px;
    width: 100%;
}
.Qiu-navs{
    font-size: 14px;
    font-weight: 400;
    color: #333;
}
.Qiu-nav-button {
    color: grey;
}
.Qiu-dropbtn {
    background-color: #ffd52b;
    color: #311600;
    padding: 16px;
    border: none;
    cursor: pointer;
}
.Qiu-dropdown {
    position: relative;
    display: inline-block;
}
.Qiu-dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffd52b;
    width: 100%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.Qiu-dropdown-content a {
    color: #311600;
    display: block;
    padding: 10px;
}
.Qiu-dropdown-content a:hover {
    background: #fde063;
}
.Qiu-dropdown:hover .Qiu-dropdown-content {
    display: block;
}
.Qiu-dropdown:hover .Qiu-dropbtn {
    background: #fde063;
}
.Qiu-nav-login {
    padding-top: 22px;
    font-size: 12px;
}
.Qiu-login-modal {
    background: #fff;
    color: #333;
    font-size: 14px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.8);
    border-radius: 3px;
}
.Qiu-login-content {
    margin: 34px;
    width: 390px;
}
#Qiu-login-Label {
    margin-left: 24px;
    color: #5e5e5e;
    font-size: 15px;
}
.Qiu-login-body {
    width: 90%;
    margin: auto;
}
.Qiu-social-login a {
    display: block;
}
.Qiu-social-btn {
    text-align: center;
    width: 300px;
    height: 44px;
    line-height: 44px;
    font-size: 16px;
    color: #fff;
    border-radius: 3px;
}
.Qiu-social-wechat {
    background: url('login/wechat.png') no-repeat;
    background-color: #62cf69;
    background-position: 0 -2px;
    margin-bottom: 10px;
}
.Qiu-social-weibo {
    background: url("login/weibo.png") no-repeat;
    background-color: #e24f48;
    background-position: 0 -2px;
    margin-bottom: 10px;
}
.Qiu-social-QQ {
    background: url("login/QQ.png") no-repeat;
    background-color: #2fa2d7;
    background-position: 0 -2px;
    margin-bottom: 20px;
}
.Qiu-account-form {
    margin-bottom: 20px;
    width: 300px;
}
.Qiu-form-textinput {
    border: 1px solid #e6e6e6;
    margin-bottom: 17px;
    padding: 1px;
}
.Qiu-input-wrapper + .Qiu-input-wrapper {
    border-style: solid;
    border-width: 0;
    border-top-width: 1px;
    border-color: lightgray;
}
.Qiu-input-wrapper input {
    width: 90%;
    color: #d2d2d2;
    font-size: 14px;
    padding: 11px;
    border: none;
    outline: none;
}
.Qiu-remember-me {
    color: #c5c5c5;
    font-size: 12px;
    margin-top: 6px;
    margin-bottom: 3px;
}
.Qiu-button-big {
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 0;
    text-align: center;
    color: #fff;
    background-color: #fbbf2f;
    border-radius: 2px;
}
.Qiu-account-form a {
    margin-top: 10px;
}
.profile-thumbnail {
    position: absolute;
}
.profile-header {
    min-height: 260px;
    margin-left: 280px;
}

.profile-thumbnail {
    position: absolute;
}
.profile-header {
    min-height: 260px;
    margin-left: 280px;
}
div.post-tabs {
    margin-top: 16px;
}
ul.posts {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
    border-top: 1px solid #e0e0e0;
}
div.post-tabs ul.posts {
    margin: 0px;
    border-top: none;
}
ul.posts li.post {
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}
ul.posts li.post:hover {
    background-color: #f0f0f0;
}
div.post-date {
    float: right;
}
div.post-author {
    font-weight: bold;
}
div.post-thumbnail {
    position: absolute;
}
div.post-content {
    margin-left: 48px;
    min-height: 48px;
}
div.post-footer {
    text-align: right;
}
ul.comments {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
}
ul.comments li.comment {
    margin-left: 32px;
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}
ul.comments li.comment:nth-child(1) {
    border-top: 1px solid #e0e0e0;
}
ul.comments li.comment:hover {
    background-color: #f0f0f0;
}
div.comment-date {
    float: right;
}
div.comment-author {
    font-weight: bold;
}
div.comment-thumbnail {
    position: absolute;
}
div.comment-content {
    margin-left: 48px;
    min-height: 48px;
}
div.comment-form {
    margin: 16px 0px 16px 32px;
}
div.pagination {
    width: 100%;
    text-align: right;
    padding: 0px;
    margin: 0px;
}
div.flask-pagedown-preview {
    margin: 10px 0px 10px 0px;
    border: 1px solid #e0e0e0;
    padding: 4px;
}
div.flask-pagedown-preview h1 {
    font-size: 140%;
}
div.flask-pagedown-preview h2 {
    font-size: 130%;
}
div.flask-pagedown-preview h3 {
    font-size: 120%;
}
.post-body h1 {
    font-size: 140%;
}
.post-body h2 {
    font-size: 130%;
}
.post-body h3 {
    font-size: 120%;
}
.table.followers tr {
    border-bottom: 1px solid #e0e0e0;
}