{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}糗事百科 - 超搞笑的原创笑话合辑{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}

{% block navbar %}
<div class="Qiu-navbar navbar" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="Qiu-nav-button navbar-toggle" data-toggle="collapse" data-target="#Qiu-navbar-collapse">
                <span class="sr-only">下拉导航</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="logo">
                <a href="{{ url_for('main.index') }}"><img class="pull-left" id="logo-weekday"></a>
            </div>
        </div>
        <div class="navbar-collapse collapse" id="Qiu-navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a class="active Qiu-navs" href="{{ url_for('main.index') }}">热门</a></li>
                <li><a class="Qiu-navs" href="#">图片</a></li>
                <li><a class="Qiu-navs" href="#">文字</a></li>
                <li><a class="Qiu-navs" href="{{ url_for('main.submit_post') }}">投稿</a></li>
                <li><a class="Qiu-navs" href="#">小鸡炖蘑菇</a></li>
                <li><a class="Qiu-navs" href="#">问答</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                <li class="Qiu-dropdown">
                    <button class="dropbtn">
                        <a href="{{ url_for('main.user', username=current_user.username) }}">
                            <img src="{{ current_user.gravatar(size=18) }}">
                            {{ current_user.username }}
                        </a>
                    </button>
                    <ul class="Qiu-dropdown-content">
                        <li><a href="{{ url_for('main.user', username=current_user.username) }}">我的主页</a></li>
                        <li><a href="{{ url_for('auth.change_password') }}">修改密码</a></li>
                        <li><a href="{{ url_for('auth.change_email_request') }}">修改邮箱</a></li>
                        <li><a href="{{ url_for('auth.logout') }}">退出</a></li>
                    </ul>
                </li>
                {% else %}
                <li><a class="Qiu-nav-login" data-toggle="modal" data-target="#Qiu-login" >登录</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    <div class="Qiu-login-modal modal fade" id="Qiu-login" role="dialog" aria-labelledby="Qiu-login-Label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="Qiu-login-content modal-content">
                <div class="Qiu-login-header modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="Qiu-login-Label">使用合作账号登录 / 免邀请码注册</h4>
                </div>
                <div class="Qiu-login-body modal-body">
                    <div class="Qiu-social-login">
                        <a class="Qiu-social-btn Qiu-social-wechat" href="https://open.weixin.qq.com/connect/qrconnect?appid=wx559af2d26b56c655&amp;redirect_uri=http%3A%2F%2Fwww.qiushibaike.com%2Fsession%3Fsrc%3Dwx&amp;response_type=code&amp;scope=snsapi_login#wechat_redirect">
                            使用 微信 账号
                        </a>
                        <a class="Qiu-social-btn Qiu-social-weibo" href="https://api.weibo.com/oauth2/authorize?client_id=63372306&amp;redirect_uri=http%3A%2F%2Fwww.qiushibaike.com%2Fsession">
                            使用 微博 账号
                        </a>
                        <a class="Qiu-social-btn Qiu-social-QQ" href="http://openapi.qzone.qq.com/oauth/show?which=Login&amp;display=pc&amp;client_id=100251437&amp;response_type=code&amp;redirect_uri=www.qiushibaike.com/session?src=qq">
                            使用 QQ 账号
                        </a>
                    </div>
                    <h4 class="Qiu-login-header">使用糗百账号登录</h4>
                    <form class="Qiu-account-form" id="Qiu-login-form" method="post" action="{{ url_for('auth.login') }}">
                        {{ login_form.hidden_tag() }}
                        <div class="Qiu-form-textinput">
                            <div class="Qiu-input-wrapper">
                                {{ login_form.email(placeholder='邮箱') }}
                            </div>
                            <div class="Qiu-input-wrapper">
                                {{ login_form.password(placeholder='密码') }}
                            </div>
                            <div class="Qiu-remember-me float-right">
                                {{ login_form.remember_me.label}}: {{ login_form.remember_me }}
                            </div>
                        </div>
                        {{ login_form.submit(class="Qiu-button-big btn btn-block") }}
                        <a href="{{ url_for('auth.password_reset_request') }}" class="float-left">忘记密码?</a>
                        <a href="#" class="Qiu-login-sign float-right" id="Qiu-signup">注册新账号</a>
                    </form>
                    <form class="Qiu-account-form disabled" id="Qiu-signup-form" method="post" action="{{ url_for('auth.register') }}">
                        {{ registration_form.hidden_tag() }}
                        <div class="Qiu-form-textinput">
                            <div class="Qiu-input-wrapper">
                                {{ registration_form.email(placeholder='邮箱') }}
                            </div>
                            <div class="Qiu-input-wrapper">
                                {{ registration_form.username(placeholder='用户名') }}
                            </div>
                            <div class="Qiu-input-wrapper">
                                {{ registration_form.password(placeholder='密码') }}
                            </div>
                            <div class="Qiu-input-wrapper">
                                {{ registration_form.password2(placeholder='确认密码') }}
                            </div>
                        </div>
                        <button class="Qiu-button-big btn btn-block" type="submit">注册</button>
                        <a href="#" class="Qiu-login-sign float-right" id="Qiu-login">登录</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% block page_content %}{% endblock %}

{% endblock %}


{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    {{ moment.lang('zh-CN') }}
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
{% endblock %}

